.container
{ display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    margin: 0 auto;
    max-width: 1000px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}


body { 
    background-color: black;
}

a { 
    color: rgb(34, 82, 138); text-decoration: none;
}

p {
    color: gray; 
}

h1, h4, h5, h6 {
    color:white; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-top: 1px; margin-bottom: 18px;
}

h2 {color: rgb(34, 82, 138); font-family: Verdana, Geneva, Tahoma, sans-serif; margin-top: -20px;}

h6 {color: gray;}

.biography {color: gray;}

.stats { 
    color:white; }

.employment { 
    max-width: 80%;
}

.position { 
    margin-top: -10px;
}


      
      #progressbar{
        padding: 1px;
        margin-top: -10px;
        background-color: blue;
        width: 90%;
        height: 13px;
        font-size: x-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:right;
        color: white;
      }

      #progressbar2{
        padding: 1px;
        margin-top: -10px;
        background-color: green;
        height: 13px;
        font-size: x-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:right;
        color: white;
      }

      
      #progressbar3{
        padding: 1px;
        margin-top: -10px;
        background-color: goldenrod;
        height: 13px;
        font-size: x-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:right;
        color: white;
      }
      
      #progressbar4{
        padding: 1px;
        margin-top: -10px;
        background-color: red;
        height: 13px;
        font-size: x-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:right;
        color: white;
      }
      
      #progressbar5{
        padding: 1px;
        margin-top: -10px;
        background-color: purple;
        height: 13px;
        font-size: x-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align:right;
        color: white;
      }